<<<<<<< HEAD
@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

//   @include mobile{
//     margin-right: 20px;
//   }

  &.active {
    background-color: $mainColor;
    color: white;
  }
=======
@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

//   @include mobile{
//     margin-right: 20px;
//   }

  &.active {
    background-color: $mainColor;
    color: white;
  }
>>>>>>> b5e1a74e4021b4c4ed14be2eb27f353b83d17652
}